* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #20262C;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px 64px;
    color: white;
    height: 100%;
    width: 100%;

    font-size: 16px;
}

code {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
}

.strikethrough {
    text-decoration: line-through;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-bar .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-bar .right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.top-bar .left img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.top-bar .left span {
    font-weight: 600;
    font-size: 32px;
}

.top-bar .right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.top-bar .right a {
    color: #ababab;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.top-bar .right a:hover {
    color: white;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 48px;
    width: 100%;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

main div.text div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

main div#section-1 div img {
    width: 48px;
    height: 48px;
}

main div.text div span {
    font-weight: 700;
    font-size: 32px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.project a {
    display: block;
}

.project {
    display: flex;
    padding: 12px;
    flex-direction: row !important;
    align-items: stretch;
    gap: 12px;

    border-radius: 12px;
    background-color: #2E3A45;
    text-decoration: none; /* Add this line to remove underline from links */
    color: inherit; /* Add this line to inherit text color */
    width: 100%;
}

.project:hover {
    background-color: #3A4A55; /* Optional: Add a hover effect */
}

.project .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}

.project .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
}

.project-title {
    font-weight: 500;
    font-size: 24px;
}

.project-image {
    height: 165px;
    width: 376px;
    object-fit: cover;
    border-radius: 12px;
}

.image-credits {
    font-size: 12px;
    font-weight: 300;
}

.project-description {
    font-size: 16px;
}

.project-reason {
    justify-content: center;
    align-items: center !important;
    gap: 12px;
    flex-direction: row !important;
    width: 100%;
    text-align: right;
}

footer {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 32px;
}

footer img {
    height: 24px;
    width: auto;
}

footer span {
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .project {
        flex-direction: column !important;
    }

    .project-title {
        font-size: 32px;
    }

    .project-description {
        font-size: 24px;
    }

    span {
        font-size: 24px;
    }

    footer img {
        height: 48px;
        width: auto;
    }
    
    footer span {
        font-size: 24px;
        font-weight: 400;
    }
}